* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.footer {


    width: 100vW;
    margin: 0;
    padding: 0;
    border-bottom: 1.5px solid burlywood;

    /* position: fixed; */
}

.footer__container {
    margin: 0;
    display: flex;
    padding: 0;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-right: 150px;
    padding-left: 70px;
    padding-bottom: 5px;
    padding-top: 5px;
    background-color: rgba(55, 38, 99, 0.553);
    /* box-shadow: 2px 7px 3px -3px rgba(135, 105, 8, 1); */
}

a {
    text-decoration: none;
}


@media (max-width:1000px) {



    .footer__container {
        margin: 0;

        padding-right: 130px;
        padding-left: 60px;
        padding-bottom: 5px;
        padding-top: 5px;
        background-color: rgba(55, 38, 99, 0.553);
        /* box-shadow: 2px 7px 3px -3px rgba(135, 105, 8, 1); */
    }



}


@media (max-width:800px) {



    .footer__container {
        margin: 0;

        padding-right: 80px;
        padding-left: 40px;
        padding-bottom: 5px;
        padding-top: 5px;
        background-color: rgba(55, 38, 99, 0.553);
        /* box-shadow: 2px 7px 3px -3px rgba(135, 105, 8, 1); */
    }



}


@media (max-width:600px) {



    .footer__container {
        margin: 0;

        padding-right: 60px;
        padding-left: 30px;
        padding-bottom: 5px;
        padding-top: 5px;
        background-color: rgba(55, 38, 99, 0.553);
        /* box-shadow: 2px 7px 3px -3px rgba(135, 105, 8, 1); */
    }



}


@media (max-width:350px) {



    .footer__container {
        margin: 0;

        padding-right: 20px;
        padding-left: 10px;
        padding-bottom: 5px;
        padding-top: 5px;
        background-color: rgba(55, 38, 99, 0.553);
        /* box-shadow: 2px 7px 3px -3px rgba(135, 105, 8, 1); */
    }



}