.userList_cotainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px;
    gap: 15px;
}

.card {
    text-align: center;
    box-shadow: 6px 7px 4px -1px rgba(97, 77, 16, 1);
    width: 200px;
    height: 320px;
    background-color: rgb(101, 83, 26);
    border-radius: 5px;
    cursor: pointer;
    animation-fill-mode: both;
    transition: all 0.5s;

}


.card:hover {
    box-shadow: 8px 9px 6px 1px rgb(32, 29, 21);
    width: 200px;
    height: 300px;
    background-color: rgba(158, 26, 68, 0.818);
    border-radius: 5px;
    cursor: pointer;
    animation-fill-mode: both;
}

img {
    /* border-radius: 50%; */
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 200px;
}

h3 {
    font-size: 18px;
    color: blanchedalmond;
    font-weight: 500;
}

p {
    display: block;
    padding-left: 10;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
}

button {
    width: 80px;
    height: 20px;
    border-radius: 5px;
    background-color: rgb(39, 32, 11);
    color: wheat;
    transition: all 0.5s;

    cursor: pointer;
}

button:hover {
    background-color: red;
    color: wheat;
    border: none;
}