* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter';

}

body {
  background-color: rgba(107, 104, 100, 0.363);
}

.user {
  height: 60hv;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main {
  padding-top: 80px;
  height: 600px;

  width: 100%
}


.no_user {
  font-size: 4rem;
  font-weight: bold;
  opacity: 10%;
  color: #131010;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  user-select: none;
}

.btn {
  width: 180px;
  height: 35px;
}